<!-- Добавление комментарий, удаление. Валидация -->

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>6task-comments</title>
    <!-- bootstrap for style -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<!-- Подключение своих стилей -->
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<!-- Блок на который действует vue -->
	<!-- v-cloak скрывает нескомпилированные элементы, пока сущность Vue.js не готова. -->
	<div class="container" id="app" v-cloak>
		<div class="alert alert-secondary">
			<h1>Комментарий</h1>
			<!-- Добавлять класс has-danger если переменная name пуста -->
			<div class="form-group" :class="{'has-danger' : !name}">
				<!-- v-model - связать с переменной -->
				<input 
					type="text" 
					class="form-control"
					placeholder="Введите имя"
					v-model="name"
					ref="nameComment"
				>
			</div>
			<!-- Добавлять класс has-danger если переменная text пуста -->
			<div class="form-group" :class="{'has-danger' : !text}">
				<!-- v-model - связать с переменной -->
				<!-- :placeholder - placeholder с vue -->
				<!-- :maxlength - maxlength с vue -->
				<textarea 
					class="form-control"
					:placeholder="'Максимально символов : ' + maxText + ' знаков'"
					v-model="text"
					:maxlength="maxText"
					ref="textComment"
				></textarea>
				<!-- Показывать сколько осталось -->
				 <!-- v-if - если вычисляемое свойство enterComment меньше чем переменная maxText, то показать -->
				 <!-- вместо фигурных скобок подставить результат вычисляемого свойства enterComment -->
				<i v-if="enterComment < maxText">Осталось {{enterComment}} символов</i>
			</div>
			<!-- v-if - если есть переменная errorMsg, то показать блок -->
			<div class="alert alert-danger" v-if="errorMsg">
				 <!-- вместо фигурных скобок подставить переменную errorMsg -->
				{{errorMsg}}
			</div>
			<!-- При клике вызвать метод addComment -->
			<button class="btn btn-primary" @click="addComment()">
				Добавить
			</button>
		</div>
		<!-- v-if - показать блок, если длина массива items больше 0 -->
		<div class="alert alert-primary" v-if="items.length > 0">
			<!-- Перебрать массив items, записав каждый элемент в item -->
			<div class="comments" v-for="item in items">
				<!-- вместо фигурных скобок подставить переменную item.name - имя элемента item -->
				<h3>{{item.name}}</h3>
				<!-- вместо фигурных скобок подставить переменную item.text - имя элемента item -->
				<p>{{item.text}}</p>
				<!-- при клике вызывать метод removeComment, передавая массив данных items -->
				<button class="btn btn-xs btn-danger" @click="removeComment(items)">Удалить</button>
			</div>
		</div>
	</div>
	<!-- Подключение с cdn vue -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.js"></script>
	<!-- Подключение своих скриптов -->
	<script src="app.js"></script>
</body>
</html>